name: Test Java

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - renovate/**

jobs:
  build:
    name: 'Build'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 17
          cache: "maven"
      - name: Install dependencies
        run: mvn install -DskipTests=true -DskipITs=true-Dmaven.javadoc.skip=true --batch-mode -Dstyle.color=always --show-version
      - name: Test
        run: mvn verify -Dstyle.color=always

  javadoc:
    name: 'Javadoc'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 17
          cache: "maven"
      - name: Install dependencies
        run: mvn install -DskipTests=true -DskipITs=true -Dmaven.javadoc.skip=true --batch-mode -Dstyle.color=always --show-version
      - name: Javadoc
        run: mvn javadoc:jar -Dstyle.color=always
